include _head 
.container
	.row.justify-content-center
		.col-1
		.col-5
			ul.text-start
				li #{message2}
				li #{message0}
				li #{message1}
				li #{message3}
				li #{message4}
	h2 #{message5}
	h4.my-0 #{message6}
include _footer